**First Part: Reading the file**

In [1]:
import pandas as pd
import csv

path="C://Users//oorte//Documents//RICE-CLASS-MATERIAL//team3//US_Accidents_June20.csv"
traffic_df = pd.read_csv(path)

In [ ]:
#traffic_df

**Manipulating the Accident date/time strings to prepare them for operations**

In [219]:
#import Dependencies
import time 
import datetime
import numpy as np
from datetime import date

In [220]:
#print(seasons(2016))

**Separates the time/date string in its components**

In [221]:
# Read strings representing Start and End of accident
date_start=traffic_df["Start_Time"].str.split(expand=True)
date_end=traffic_df["End_Time"].str.split(expand=True)

In [222]:
#Gets the year only and turns it into a number
s=date_start[0].str[:4]
t=date_start[0].str[:4]
traffic_df['year_start']=pd.to_numeric(s, downcast='unsigned')
traffic_df['year_end']=pd.to_numeric(t, downcast='unsigned')

In [223]:
#Gets the month only and turns it into a number
u=date_start[0].str[5:7]
v=date_end[0].str[5:7]
traffic_df['month_start']=pd.to_numeric(u, downcast='unsigned')
traffic_df['month_end']=pd.to_numeric(v, downcast='unsigned')

In [224]:
#Gets the day only and turns it into a number
w=date_start[0].str[8:10]
x=date_end[0].str[8:10]
traffic_df['day_start']=pd.to_numeric(w, downcast='unsigned')
traffic_df['day_end']=pd.to_numeric(x, downcast='unsigned')

In [242]:
#Get the time
traffic_df['time_start']=date_start[0].str[8:10]
traffic_df['time_end']=date_end[0].str[8:10]
nrows=len(traffic_df)

**Determine season in which accident occurred**

In [243]:
#Seasons definitions independent of leap year

def seasons(Y):
    w1s = datetime.datetime(Y, 1, 1, 0,0,0)
    w1e= datetime.datetime(Y, 3, 20, 11,59,59)
    sps = datetime.datetime(Y, 3, 21, 0,0,0)
    spe= datetime.datetime(Y, 6, 20, 11,59,59)
    sus = datetime.datetime(Y, 6, 21, 0,0,0)
    sue= datetime.datetime(Y, 9, 20, 11,59,59)
    fas = datetime.datetime(Y, 9, 21, 0,0,0)
    fae= datetime.datetime(Y, 12, 20, 11,59,59)
    w2s = datetime.datetime(Y, 1, 1, 0,0,0)
    w2e= datetime.datetime(Y, 3, 20, 11,59,59)
    limits=[w1s,w1e,sps,spe,sus,sue,fas,fae,w2s,w2e]
    return limits

In [244]:
#Y=2016
df1=traffic_df
#df1

In [246]:

Ys=traffic_df['year_start'].unique()
Ys.sort()
years=Ys.size

In [247]:
df1=pd.DataFrame(df1,columns=['date_time_obj1',
                              'date_time_obj2','TStamp_Start',
                              'TStamp_End','Season'])

In [253]:
for j in range(years):
    Y=Ys[j]

    for i in range(10):

        string1 = traffic_df["Start_Time"][i]
        string2= traffic_df["End_Time"][i]
        df1.iloc[i,0] = datetime.datetime.strptime(string1, '%Y-%m-%d %H:%M:%S')
        df1.iloc[i,1]= datetime.datetime.strptime(string2, '%Y-%m-%d %H:%M:%S')
        df1.iloc[i,2]= datetime.datetime.timestamp(date_time_obj1)
        df1.iloc[i,3]= datetime.datetime.timestamp(date_time_obj2)

        if seasons(Y)[0] < df1.iloc[i,0] and df1.iloc[i,0] < seasons(Y)[1]:
            df1.iloc[i,4]='winter'
        elif seasons(Y)[2] < date_time_obj1 and date_time_obj1 < seasons(Y)[3]:
            df1.iloc[i,4]='spring'
        elif seasons(Y)[4] < date_time_obj1 and date_time_obj1 < seasons(Y)[5]:
            df1.iloc[i,4]='summer'
        elif seasons(Y)[6] < date_time_obj1 and date_time_obj1 < seasons(Y)[7]:
            df1.iloc[i,4]='fall'
        elif seasons(Y)[8] < date_time_obj1 and date_time_obj1 < seasons(Y)[9]:
            df1.iloc[i,4]='winter'

df1

,date_time_obj1,date_time_obj2,TStamp_Start,TStamp_End,Season
0,2016-02-08 05:46:00,2016-02-08 11:00:00,1.474480e+09,1.474482e+09,winter
1,2016-02-08 06:07:59,2016-02-08 06:37:59,1.474480e+09,1.474482e+09,winter
2,2016-02-08 06:49:27,2016-02-08 07:19:27,1.474480e+09,1.474482e+09,winter
3,2016-02-08 07:23:34,2016-02-08 07:53:34,1.474480e+09,1.474482e+09,winter
4,2016-02-08 07:39:07,2016-02-08 08:09:07,1.474480e+09,1.474482e+09,winter
...,...,...,...,...,...
3513612,NaN,NaN,NaN,NaN,NaN
3513613,NaN,NaN,NaN,NaN,NaN
3513614,NaN,NaN,NaN,NaN,NaN
3513615,NaN,NaN,NaN,NaN,NaN
3513616,NaN,NaN,NaN,NaN,NaN

**Calculate Accident duration**

In [ ]:
#This calculates the time in seconds until the accident was cleared
df1['Duration']= df1['date_time_obj2']-df1['date_time_obj1']
df1['Duration']

In [ ]:
# testing the backwards conversion to date :-)
#     dt_object= datetime.datetime.fromtimestamp(a)
#dt_object_time= time.fromtimestamp(a)
#     dt_object