In [15]:
import pandas as pd

wells_df = pd.read_csv('data\ks_wells.csv')

In [16]:
wells_df

,KID,API_NUMBER,API_NUM_NODASH,LEASE,WELL,FIELD,LATITUDE,LONGITUDE,LONG_LAT_SOURCE,TOWNSHIP,...,PLUGGING,MODIFIED,OIL_KID,OIL_DOR_ID,GAS_KID,GAS_DOR_ID,KCC_PERMIT,STATUS,STATUS2,COMMENTS
0,1001184201,15-007-20008,1.500720e+13,Kirkbride 'B',1,MEDICINE LODGE NORTH,37.237812,-98.634131,Calc. from footages,32,...,12-Mar-67,13-Jun-14,NaN,NaN,NaN,NaN,NaN,D&A,Plugged and Abandoned,NaN
1,1001184206,15-007-20013,1.500720e+13,SLEEPER,1-W,UNNAMED,37.408992,-98.475495,Calc. from footages,30,...,10-Jan-68,18-Apr-14,NaN,NaN,NaN,NaN,NaN,SWD-P&A,Plugged and Abandoned,NaN
2,1001184249,15-007-20056,1.500720e+13,"Winters, W.W.",1,Aetna Gas Area,37.052861,-98.977851,Calc. from footages,34,...,19-Mar-68,21-Jan-14,NaN,NaN,NaN,NaN,NaN,D&A,Plugged and Abandoned,NaN
3,1001184287,15-007-20094,1.500720e+13,Stonestreet,1,WILDCAT,37.313259,-98.710457,Calc. from footages,31,...,11-Apr-69,26-Feb-15,NaN,NaN,NaN,NaN,NaN,D&A,Plugged and Abandoned,NaN
4,1001184375,15-007-20184,1.500720e+13,Lenkner,1,LUKENS,37.230362,-98.520233,Calc. from footages,32,...,26-Nov-74,30-Oct-13,NaN,NaN,NaN,NaN,D16293.0,SWD-P&A,Plugged and Abandoned,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489895,1046936256,15-009-25779-0002,1.500930e+13,DOONAN A SWD,2,LAKE BARTON,38.459357,-98.766545,From GPS,18,...,NaN,24-Jan-19,NaN,NaN,NaN,NaN,D32620.0,SWD,Authorized Injection Well,NaN
489896,1046936257,15-059-01620,1.505900e+13,E. SEYLER,ESY 01,NaN,38.669438,-95.186937,From GPS,16,...,17-Aug-18,4-Dec-18,NaN,NaN,NaN,NaN,NaN,GAS-P&A,KCC Fee Fund Plugging,NaN
489897,1046936258,15-121-02739,1.512100e+13,KEMPLEY,KEM 01,NaN,38.584086,-94.826890,From GPS,17,...,25-Sep-18,4-Dec-18,NaN,NaN,NaN,NaN,NaN,GAS-P&A,KCC Fee Fund Plugging,NaN
489898,1046936259,15-003-26641,1.500330e+13,DONLEY,38,COLONY-WELDA,38.094366,-95.357601,Calc. from footages,22,...,NaN,22-May-19,NaN,NaN,NaN,NaN,NaN,OIL,Inactive Well,NaN
489899,1046936260,15-133-02733,1.513300e+13,MIH,MIH OW1,NaN,37.664181,-95.355999,From GPS,27,...,12-Jul-18,4-Dec-18,NaN,NaN,NaN,NaN,NaN,OIL-P&A,KCC Fee Fund Plugging,NaN

In [8]:
quakes_df = pd.read_csv('data\quakes7887.csv')

In [9]:
quakes_df

,QUAKE_ID,ORIGIN_TIME,LOCAL_TIME,LATITUDE,LONGITUDE,MAGNITUDE,COUNTY_NAME
0,1001466143,11/30/2020 15:11,"NOV-30-2020, 09:11:25 AM",37.70300,-97.20100,2.4,Sedgwick
1,1001466126,11/27/2020 18:27,"NOV-27-2020, 12:27:37 PM",37.70200,-97.20200,2.6,Sedgwick
2,1001466121,11/26/2020 22:27,"NOV-26-2020, 04:27:39 PM",37.70500,-97.20700,2.7,Sedgwick
3,1001466119,11/26/2020 19:48,"NOV-26-2020, 01:48:23 PM",37.06800,-98.96800,2.0,Barber
4,1001466088,11/22/2020 2:54,"NOV-21-2020, 08:54:17 PM",38.31100,-96.93300,2.3,Marion
...,...,...,...,...,...,...,...
2506,1001429724,1/2/2016 13:01,"JAN-02-2016, 07:01:17 AM",37.21312,-97.90936,2.0,Harper
2507,1001406711,1/1/2016 18:52,"JAN-01-2016, 12:52:44 PM",37.13309,-97.66942,2.0,Sumner
2508,1001406583,1/1/2016 12:25,"JAN-01-2016, 06:25:58 AM",37.16187,-97.63879,2.6,Sumner
2509,1001429688,1/1/2016 9:02,"JAN-01-2016, 03:02:24 AM",37.54896,-97.76008,2.2,Sedgwick
2510,1001406541,1/1/2016 2:52,"DEC-31-2015, 08:52:58 PM",37.23479,-97.88148,2.0,Harper